.cta {
	background-color: var(--primary);
	color: #fff;
}

.newsletter-input {
	color: #555;
	padding: 1rem;
	border: none;
	border-radius: 0.25rem 0 0 0.25rem;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
	width: 40%;
}

.newsletter-input:focus {
	outline: none;
	color: #aaa;
	background: #222;
}

.newsletter-btn {
	background: #222;
	color: #fff;
	padding: 1rem;
	border: none;
	border-radius: 0 0.25rem 0.25rem 0;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.newsletter-btn:hover {
	color: var(--primary);
	background: #333;
}

@media (max-width: 768px) {
	.newsletter-input {
		border-radius: 0.25rem;
		width: 100%;
	}

	.newsletter-btn {
		margin-top: 10px;
		border-radius: 0.25rem;
		width: 50%;
	}
}
