.shop-card {
	border: 1px solid #ddd;
	min-height: 300px;
	width: 100%;
}

.card-specs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 20px;
}

.shop-card svg {
	color: var(--primary);
}

@media (max-width: 1400px) {
	.card-specs {
		grid-template-columns: repeat(3, 1fr);
		row-gap: 10px;
	}
}

@media (max-width: 576px) {
	.card-specs {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 10px;
	}
}
