.socials a {
	margin: 0 0.5rem;
	font-size: 1.5rem;
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

.socials a:hover {
	color: var(--primary);
}

.upper-footer {
	color: #fff;
	background-color: #222;
}

.bottom-footer {
	background-color: #111;
	color: #777;
}

.bottom-footer a {
	color: var(--primary);
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

.bottom-footer a:hover {
	color: #fff;
}
