@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  option {
    @apply text-black text-base;
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    color-scheme: dark;
  }

  input[type="date"] {
    color: white;
  }
}

@layer components {
  .max-container {
    max-width: 1536px;
    width: 100%;
    margin: 0 auto;

    @apply px-2 sm:px-4;
  }

  .dots {
    background: radial-gradient(circle, #918fa9 10%, transparent 11%);
    background-size: 1em 1em;
    background-color: #ffffff00;
    opacity: 1;
  }

  .button {
    @apply bg-black text-white py-3 px-7 rounded hover:bg-neutral-700 transition-colors font-medium;
  }
}
